@import './app/global-stylesheets/variables.scss';
@import './app/global-stylesheets/animations.scss';
@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

* {
    margin: 0;
    padding: 0;
    color: $main-color;
    font-family: 'Philosopher', sans-serif;
}

h1 {
    font-size: 3em;
    text-shadow: 1px 1px 5px $secondary-color;
}

.centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-flex-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.d-unset {
    display: unset;
}

.d-none {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background: $hero-background-color;
}

body::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url('/assets/images/background.jpg');
    background-size: cover;
    opacity: 0.05;
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transparent {
    opacity: 0;
}

.opaque {
    opacity: 1;
}