<section class='hero'>
    <div class='hero-container'>
        <div class='hero-image-container'>
            <img src='/assets/images/main.jpg' class='hero-image' alt='profile-photo' />
        </div>
        <div class='titles-container'>
            <h1 class='hero-title'>Batista Tiago</h1>
            <h3 class='hero-subtitle'>Engenheiro Mecatrônico</h3>
            <h3 class='hero-subtitle'>Bacharel em Ciências e Tecnologia</h3>
            <h3 class='hero-subtitle'>Full Stack Web-Developer</h3>
        </div>
    </div>
    
</section>