<section class='hero'>
    <div class='hero-image-container'>
        <img src='/assets/images/main.jpg' class='hero-image' alt='profile-photo' />
    </div>
    <div class='titles-container'>
        <h1 class='hero-title'>Batista Tiago</h1>
        <h4 class='hero-subtitle'>Engenheiro mecatrônico</h4>
        <h4 class='hero-subtitle'>Bacharel em ciências e tecnologia</h4>
        <h4 class='hero-subtitle'>Full stack web-developer</h4>
        <h5 class='hero-subtitle'>Angular/React & PHP/Node</h5>
    </div>
</section>