<li>
  <div style="display: flex">
    <div class='nome-projeto'>
      <span>
        Pássaro Urbano
      </span>
      <i 
        class="far fa-question-circle {{ showDescription ? 'toggled' : '' }}"
        (click)="toggleDescription()"></i>
      <app-project-description 
        [data]="{ 
          description: projectData.description, 
          techUsed: projectData.techUsed,
          status: projectData.status,
          percentageComplete: projectData.percentageComplete
        }">
    
      </app-project-description>
    </div>
  </div>
  
  <div class='imagens-projeto'>
    
    <div class='featured-image-container' (click)="featuredImageClicked()">
      <div class="featured-image" *ngFor='let image of projectData.imageUrls; let i = index'>
        <img [src]='image' class="{{ i === selectedImageIndex ? 'opaque' : '' }}" />
      </div>
    </div>
    
    <ul class='lista-imagens-projeto'>
      <li *ngFor='let image of projectData.imageUrls; let i = index'>
        <img [src]='image' [class]="i === selectedImageIndex ? 'current' : ''" (click)="imageClicked(i)" />
      </li>
    </ul>
    
  </div>
  
  <div class="links-projeto">
    <a [href]='projectData.gitUrl' target="blank">Git</a>
    <a [href]='projectData.deployUrl' target="blank">Live Version</a>
  </div>  
</li>