@import '../../../../global-stylesheets/variables.scss';

.imagens-projeto {
    display: flex;
    flex-direction: column;
    padding: 10px;

    flex-grow: 1;
    width: 100%;

    hr {
        margin: 10px;
    }
    
    .featured-image-container {
        position: relative;
        align-self: center;
        width: 100%;
        height: 100%;
        flex-basis: 75%;

        flex-grow: 1;
        
        // display: flex;
        // justify-content: center;
        // align-items: stretch;

        cursor: zoom-in;

        .featured-image {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 97%;
            height: 97%;

            transform: translate(-50%, -50%);

            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                position: absolute;
                margin: auto;
                width: 100%;
                height: 100%;
                transition: opacity 1s ease-in-out;
                border-radius: 10px;
                
                border: 1px solid $main-color;
                box-shadow: 0 0 5px $main-color;
                
            }
        }
        
        img:not(.opaque) {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
    
    .lista-imagens-projeto {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        
        // background: aqua;
        flex-basis: 20%;
        // flex-grow: 1;
        flex-shrink: 0;

        // background: red;
        
        li {
            position: relative;
            flex-basis: 25%;
            overflow: hidden;
            // max-height: 100px;

            // background: aqua;

            // display: flex;
            // justify-content: center;
            // align-items: center;

            img {

                max-width: 80%; 
                max-height: 80%;

                // width: 100%;
                // height: 100%;
                // max-width: 60px;
                // max-height: 60px;
                
                // opacity: 0;
                
                position: absolute;
                top: 50%; 
                left: 50%; 
                width: 90%;
                height: 90%;

                transform: translate(-50%, -50%);
                
                // height: auto;
                cursor: pointer;
                transition: box-shadow 0.35s ease-in-out, transform 0.15s ease-in-out;
                border-radius: 15px;
                border: 2px solid $main-color;
            }
            
            img:hover {
                transform: translate(-50%, -50%) scale(1.025);
                // transform: scale(1.025);
            }
            
            img.current {
                box-shadow: 0 0 5px $main-color;
                transform: translate(-50%, -50%) scale(1.05);
                // transform: scale(1.05);
                cursor: pointer;
            }
            
        }
    }
}
