<section class='hero'>
    <div class='hero-container {{ shouldAnimate() ? "hero-container-animation" : "" }}'>
        <div class='hero-image-container {{ shouldAnimate() ? "hero-image-container-animation" : "" }}'>
            <img src='/assets/images/main.jpg' class='hero-image' alt='profile-photo' />
        </div>
        <div class='titles-container {{ shouldAnimate() ? "titles-container-animation" : "" }}' (animationend)="animationDidFinish($event)">
            <h1 class='hero-title'>Batista Tiago</h1>
            <h3 class='hero-subtitle' *ngFor="let title of titles">{{ title }}</h3>
        </div>
    </div>

</section>