$main-color: #ddd;
$secondary-color: #aaa;

$cor-headers: rgb(180, 180, 255);
$outer-gradient-color: #000;
$inner-gradient-color: #080808;

$hero-background-color: radial-gradient($inner-gradient-color, $outer-gradient-color);