$main-color: #ddd;
$secondary-color: rgb(82, 138, 138);
$tertiary-color: #2F2F2F;

$main-gray-color: #aaa;

$outer-gradient-color: #000;
$inner-gradient-color: #333;

$hero-background-color: radial-gradient($inner-gradient-color, $outer-gradient-color);

$card-background-color: rgba(47, 79, 79, 0.2);

$progress-bar-height: 35px;

$default-timing-function: cubic-bezier(0.77, 0.2, 0.05, .5);
$transition-fast: 0.25s;

$header-logo-animation-params: 3s cubic-bezier(.52,-0.22,.33,1.28) 1 forwards;

@font-face {
  font-family: "Amelya";
  src: url("/assets/fonts/Amelya.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hilland";
  src: url("/assets/fonts/Hilland.woff");
  font-weight: normal;
  font-style: normal;
}