<li>
  <div style="display: flex">
    <div class='header-featured-project'>
      <span>
        {{ projectData.titulo }}
      </span>
      <i 
        class="far fa-question-circle {{ showDescription ? 'toggled' : '' }}"
        (click)="toggleDescription()"></i>
      <app-project-description 
        [data]="{ 
          titulo: projectData.titulo,
          description: projectData.description, 
          techUsed: projectData.techUsed,
          status: projectData.status,
          percentageComplete: projectData.percentageComplete
        }">
    
      </app-project-description>
    </div>
  </div>
  
  <app-project-images [images]="projectData.imageUrls" (imageClickedEvent)="propagate($event)"></app-project-images>
  
  <div class="links-projeto">
    <a [href]='projectData.gitUrl' target="blank">Git</a>
    <a [href]='projectData.deployUrl' target="blank">Live Version</a>
  </div>  
</li>