<header>

    <app-logo></app-logo>

    <label for="navbar-toggler" class="navbar-toggler-button {{ menuOpen ? 'menu-open' : '' }}" (click)="menuTogglerButtonClick()">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
    </label>

    <div class="navbar-container">
        <input type="checkbox" id="navbar-toggler" />
        <nav class='navbar'>
            <ul>
                <li *ngFor="let section of sections">
                    <a routerLink="{{section.link }}" class=" {{ (router.url=== section.link) ? 'current-route ' : ' ' }} ">
                        {{ section.displayName }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</header>