<section>
  <button class="bt-button" (click)="toggleMenu()">
    <span>Projetos menores</span>
    <i class="fa fa-caret-down"></i>
  </button>
  
  <div class="minor-projects-list-container {{ showMenu ? 'opaque' : 'transparent down-scaled' }}">
    <ul class="minor-projects-list">
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>     
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>     
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>     
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>
      <li>
        <div class="titulo-projeto">Spotify Clone</div>
        <div class="techs-usadas">HTML CSS JavaScript Bootstrap jQuery</div>
        <div class="icones-item">
          <i class="fab fa-github-square github"></i>
          <i class="fas fa-camera camera"></i>
        </div>
      </li>         
    </ul>
  </div>
</section>
