@import '../global-stylesheets/variables.scss';
@import '../global-stylesheets/animations.scss';

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    // background-color: black;
    // opacity: 0;
    // animation-name: fadeIn;
    // animation-duration: 0.5s;
    // animation-delay: 1.5s;
    // animation-timing-function: ease-in-out;
    // animation-iteration-count: 1;
    // animation-fill-mode: forwards;
    
    .social-media-links {
        
        // display: flex;
        // justify-content: center;
        // align-items: center;
        
        a {
            font-size: 3em;
            text-decoration: none;
            transition: color 0.15s ease-in-out;
            color: $secondary-color;
        }
        
        a:first-child {
            margin-right: 10px;
        }
        
        a:hover {
            color: $main-color;
        }
    }
}