$main-color: #ddd;
$secondary-color: #aaa3;

$cor-headers: rgb(180, 180, 255);
$bluish-gray: rgb(150, 150, 255);
$outer-gradient-color: #181818;
$inner-gradient-color: #080808;

$hero-background-color: radial-gradient($inner-gradient-color, $outer-gradient-color);