<li>
  <div style="display: flex">
    <div class='nome-projeto'>
      <span>
        Pássaro Urbano
      </span>
      <i class="far fa-question-circle"></i>
      <div class="project-description-container">
        <h3>Pássaro Urbano</h3>
        <div class="project-description">{{ projectData. descricao }}</div>
      </div>
    </div>
  </div>

  <div class='imagens-projeto'>

    <div class='featured-image-container' (click)="featuredImageClicked($event)">
      <div class="featured-image" *ngFor='let image of projectData.imagens; let i = index'>
        <img [src]='image' class="{{ i === selectedImageIndex ? 'opaque' : '' }}" />
      </div>
    </div>

    <ul class='lista-imagens-projeto'>
      <li *ngFor='let image of projectData.imagens; let i = index'>
        <img [src]='image' [class]="i === selectedImageIndex ? 'current' : ''" (click)="imageClicked(i)" />
      </li>
    </ul>

  </div>

  <div class="links-projeto">
    <a [href]='projectData.gitUrl' target="blank">Git</a>
    <a [href]='projectData.deployUrl' target="blank">Live Version</a>
  </div>

  <div *ngIf="showModal">
    <app-modal [modalData]="modalData" (closeModalEvent)="dismissModal()"></app-modal>
  </div>

</li>