<!-- <h1>Nível de habilidade por tecnologia</h1>

<div class="skills-container">

  <app-progress-bar [data]="{technologyName: 'HTML', skillLevel: '7.5', fillColor: 'rgb(227, 79, 38)', faClassName: 'fab fa-html5'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'CSS', skillLevel: '8.2', fillColor: '#016FBA', faClassName: 'fab fa-css3-alt'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'JavaScript', skillLevel: '8.2', fillColor: '#D4B830', faClassName: 'fab fa-js-square'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'Angular', skillLevel: '6.5', fillColor: '#D7032F', faClassName: 'fab fa-angular'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'React', skillLevel: '4.5', fillColor: '#61DAFB', faClassName: 'fab fa-react'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'PHP', skillLevel: '6.5', fillColor: '#777BB3', faClassName: 'fab fa-php'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'NodeJS', skillLevel: '3.5', fillColor: '#669F64', faClassName: 'fab fa-node-js'}">
  </app-progress-bar> -->

  <!-- <app-progress-bar [data]="{technologyName: 'MySQL', skillLevel: '6.5', fillColor: '#DE8A00'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'TypeScript', skillLevel: '7.5', fillColor: '#007ACC'}">
    </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'MongoDB', skillLevel: '2.5'}">
  </app-progress-bar>

  <app-progress-bar [data]="{technologyName: 'Firebase', skillLevel: '7.5', fillColor: '#F5C43D'}">
  </app-progress-bar> -->

<!-- </div> -->