$cor-headers: rgb(180, 180, 255);
$bluish-gray: rgb(150, 150, 255);
$outer-gradient-color: #181818;
$middle-gradient-color: #0f0f0f;
$inner-gradient-color: #080808;

$hero-background-color: 
linear-gradient(
to right, 
$outer-gradient-color, 
$middle-gradient-color,
$inner-gradient-color, 
$middle-gradient-color,
$outer-gradient-color
)
;


* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    overflow: auto;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $hero-background-color;
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url('../../images/background.jpg') no-repeat;
    background-size: cover;
    opacity: 0.05;
    // background-attachment: fixed;
}

header {
    flex-basis: 5%;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.scroll-wrapper {
    flex-grow: 2;
    overflow: hidden;
    position: relative;
}



.scrollable {
    position: relative;
    overflow: auto;
    height: 100%;
    margin-right: -100px;
    padding-right: 100px;
}

.flex-columns {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image-container {
    border-radius: 35%;
    border: 5px solid #ccc;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 2px $bluish-gray;
}

.hero-image {
    align-self: center;
    width: 252px;
    border-radius: 35%;
}

.hero-title {
    margin-top: 25px;
    font-size: 3em;
    color: $cor-headers;
    text-shadow: 1px 1px 5px $bluish-gray;
}

.hero-subtitle {
    margin-top: 5px;
    color: #ccc;
    text-align: center;
}

h5.hero-subtitle {
    margin-top: 0px;
}

.next-button-wrapper {
    
    align-self: center;  
    margin-bottom: 50px;
    
    button {
        
        appearance: none;
        outline: none;
        background-color: transparent;
        padding: 0px 60px;
        border: 2px solid white;
        border-radius: 25%;
        cursor: pointer;
        font-size: 3em;
        transition: transform 0.15s ease-in-out;
        box-shadow: 0px 0px 5px white;
        
        i {
            color: white;
        }
        
    }
    
    button:hover {
        transform: scale(1.1);
    }
}


#header-projetos {
    margin-top: 50px;
    font-size: 3em;
    color: $cor-headers;
    text-shadow: 1px 1px 5px $bluish-gray;
}

.projeto {
    border: 2px solid #ccc;
    box-shadow: 0 0 15px #ccc;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    
    .nome-projeto {
        margin: 15px auto;
        font-size: 2em;
    }
    
    hr {
        background-color: white;
        border: none;
        height: 2px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .imagens-projeto {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        // border: 2px solid white;
        
        .lista-imagens-projeto {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            list-style: none;
            
            justify-content: space-evenly;
            
            li {

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                

                img {
                    width: 80px;
                    height: 45px;
                    cursor: pointer;
                    transition: box-shadow 0.15s ease-in-out;
                }

                img.current {
                    box-shadow: 0 0 5px white;
                }

            }


        }
    }
    
    #imagem-projeto {
        width: 450px;
        height: 225px;
    }
    
    .descricao-projeto {
        margin-top: 10px;
        text-align: justify;
    }
}

footer {
    flex-basis: 5%;
    flex-shrink: 0;
    margin-top: 10px;
}






.mt-0 {
    margin-top: 0;
}

.mt-3 {
    margin-top: 15px;
}