<section>
  <div class="intro">
    <h1>Tiago Batista</h1>
    <hr>
    <div id="general-info">
      <div class="centered-flex-container">
        <h3>Brasileiro, Solteiro, 27 anos</h3>
      </div>
      <div class="centered-flex-container">
        <i class="fas fa-envelope"></i>
        <h3>ekyidag@gmail.com</h3>
      </div>
      <div class="centered-flex-container">
        <i class="fab fa-github"></i>
        <h3>/batistaTiago</h3>
      </div>
      
    </div>
    
  </div>
  
  <hr>
  
  <div id="education">
    <h2>Formação</h2>
    <ul class="lista-formacoes">
      <li>
        Bacharelado em Ciências e Tecnologia (UFRN)
      </li>
      <li>
        Engenharia Mecatrônica (UFRN)
      </li>
    </ul>
  </div>
  
  <hr>
  
  
  <div id="qualifications">
    <h2>Qualificações</h2>
    <div class="general-qualifications">
      
      <div class="general-qualification">
        <span>Front-end</span>
        <ul class="specific-qualifications">
          <li>
            HTML
          </li>
          <li>
            CSS
          </li>
          <li>
            Bootsrap
          </li>
          <li>
            SASS
          </li>
          <li>
            JavaScript
          </li>
          <li>
            jQuery
          </li>
          <li>
            TypeScript
          </li>
          <li>
            Angular
          </li>
          <li>
            React
          </li>
        </ul>
      </div>
      
      <!-- <div class="separator"></div> -->
      
      <div class="general-qualification">
        <span>Back-end</span>
        <ul class="specific-qualifications">
          <li>
            NodeJS/Express (JS/TS)
          </li>
          <li>
            PHP
          </li>
          <li>
            MySQL
          </li>
          <li>
            MongoDB
          </li>
          <li>
            Firebase
          </li>
        </ul>
      </div>
      
      <!-- <div class="separator"></div>
        
        <div class="general-qualification">
          <span>Mobile</span>
          <ul class="specific-qualifications">
            <li>
              Swift
            </li>
            <li>
              Kotlin
            </li>
            <li>
              Ionic
            </li>
          </ul>
        </div> -->
      </div>
      
      
      
      
    </div>
    
    <hr>
    
    <div>
      <div class="hideable-content-toggler">
        <label for="expand-icon">Informações adicionais</label>
        <button id="expand-icon" class="{{ showAdditionalInfo ? 'toggled' : '' }}" (click)="toggleAdditionalInfo()">
          <div class="vertical"></div>
          <div class="horizontal"></div>
        </button>
      </div>
      
      <div class="hideable-content {{ showAdditionalInfo ? 'visible' : '' }}">
        
        <ul class="additional-info-list">
          <li>
            <h2>Cursos a distância</h2>
            <ul class="courses-list">
              
              <li>
                <a target="_blank" href="https://www.udemy.com/web-completo">
                  <i class="fas fa-link"></i>
                  'Desenvolvedor web completo 2019'
                </a>
              </li>
              
              <li>
                <a target="_blank" href="https://www.udemy.com/curso-de-desenvolvimento-web-com-es6-typescript-e-angular-4/">
                  <i class="fas fa-link"></i>
                  'Desenvolvedor web com ES6, TypeScript e Angular'
                </a>
              </li>
              
              <li>
                <a target="_blank" href="https://www.udemy.com/the-advanced-web-developer-bootcamp/">
                  <i class="fas fa-link"></i>
                  'The Advanced Web Developer Bootcamp'
                </a>
              </li>
              
              <li>
                <a target="_blank" href="https://www.udemy.com/curso-completo-do-desenvolvedor-nodejs/">
                  <i class="fas fa-link"></i>
                  'Desenvolvedor NodeJS'
                </a>
              </li>
              
              <li>
                <a target="_blank" href="https://www.udemy.com/the-complete-junior-to-senior-web-developer-roadmap/">
                  <i class="fas fa-link"></i>
                  'The Complete Junior to Senior Web Developer Roadmap (2019)'
                </a>
              </li>
              
            </ul>
          </li>
          
          <li>
            <h2>Linguagens de programação</h2>
            <ul class="programming-languages-list">
              <li>JavaScript/TypeScript</li>
              <li>PHP</li>
              <li>Swift</li>
              <li>C/C++/C#</li>
              <li>Python</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    
  </section>