<section>
    <div class="intro">
        <h1>Tiago Batista</h1>
        <hr>
        <div id="general-info">
            <a target="_blank" href="https://linkedin.com/in/batistatiago" class="centered-flex-container">
                <i class="fab fa-linkedin"></i>
                <span>/in/batistaTiago</span>
            </a>
            <a href="mailto:ekyidag@gmail.com" class="centered-flex-container">
                <i class="fas fa-envelope"></i>
                <span>ekyidag@gmail.com</span>
            </a>
            <a target="_blank" href="https://github.com/batistatiago" class="centered-flex-container">
                <i class="fab fa-github"></i>
                <span>/batistaTiago</span>
            </a>

        </div>

    </div>

    <hr>

    <div id="experience">
        <h2>{{ headings.professionalExperience }}</h2>
        <ul class="lista-experience">
            <li>
                <div>
                    <span class="job-title">Senior Backend Software Engineer</span>
                    <span class="job-timeline">May/2021 - Current</span>
                </div>
                <div>
                    <span class="company-name">Olist Serviços Digitais</span>
                    <span class="job-location">Remote</span>
                </div>
                <ul class="job-items">
                    <li>The main responsibility of this role is to work on a country-wide Transportation Management System (TMS) with a flow of around 50 thousand packages every day in a high availability setting</li>
                    <li>Worked on many key features such as integration with other services both from the company itself as well as e-commerce business partners, one of which reduced the First Mile total operation cost by around 38% and the redesign of two
                        critical processes that improved performance by around 25 times</li>
                    <li>Automate the company’s technology ecosystem by writing deploy pipelines, containerized environments, and unit, feature and load testing</li>
                    <li>Mentoring of mid-level, junior and interns</li>
                    <li>Stack: NodeJS, TypeScript, Jest, PHP, Laravel, PHPUnit, Kafka, MySQL, MongoDB, JavaScript, SASS, Redis, Locust, Docker</li>
                </ul>
            </li>
            <li>
                <div>
                    <span class="job-title">Mid-level Back End Software Engineer</span>
                    <span class="job-timeline">October/2018 - May/2021</span>
                </div>
                <div>
                    <span class="company-name">LessClick Systems LTDA</span>
                    <span class="job-location">Remote</span>
                </div>
                <ul class="job-items">
                    <li>The main responsibilities of this role was to build a ticketing marketplace system for 3 soccer stadiums, in addition to other independent C2C event producers. The system has around 400 thousand users, adding up the general audience
                        of the 3 stadiums, but a typical soccer match sells around 30 to 50 thousand tickets.</li>
                    <li>Worked on many key features such as performance improvements that led to up to 90% speed gains in page load times</li>
                    <li>Many third party service integrations were developed such as payment gateways (specifically PayPal and GetNet), Google Maps, Firebase, Apple Wallet, Google Pay</li>
                    <li>Automate the company’s technology ecosystem by writing deploy pipelines, containerized environments, and unit, feature and load testing</li>
                    <li>Mentoring of juniors and interns</li>
                    <li>Stack: PHP, Node, PHPUnit, ReactJS, TypeScript, Laravel, MySQL, Redis, Docker, Firebase, AWS</li>
                </ul>
            </li>
            <li>
                <div>
                    <span class="job-title">Junior Software Engineer</span>
                    <span class="job-timeline">June/2017 - October/2018</span>
                </div>
                <div>
                    <span class="company-name">BraveCloud Tecnologia da Informação</span>
                    <span class="job-location">Natal - Brazil</span>
                </div>
                <ul class="job-items">
                    <li>Worked on the development of a framework to process and edit images (macOS/iOS) and some commercial websites</li>
                    <li>Stack: HTML, CSS, JavaScript, PHP, MySQL, Swift</li>
                </ul>
            </li>
        </ul>
    </div>

    <hr>

    <div id="education">
        <h2>{{ headings.education }}</h2>
        <ul class="lista-formacoes">
            <li>
                Bachelor in Science and Technology
            </li>
            <li>
                Mechatronics and Robotics engineer
            </li>
        </ul>
    </div>

    <hr>

    <div id="qualifications">
        <h2>{{ headings.qualifications }}</h2>
        <div class="general-qualifications">

            <div class="general-qualification">
                <span>Front-end</span>
                <ul class="specific-qualifications">
                    <li *ngFor="let qual of frontEndQualifications">{{ qual.name }}</li>
                </ul>
            </div>

            <!-- <div class="separator"></div> -->

            <div class="general-qualification">
                <span>Back-end</span>
                <ul class="specific-qualifications">
                    <li *ngFor="let qual of backEndQualifications">{{ qual.name }}</li>
                </ul>
            </div>

            <div class="general-qualification">
                <span>{{ headings.otherQualifications }}</span>
                <ul class="specific-qualifications">
                    <li *ngFor="let qual of otherQualifications">{{ qual.name }}</li>
                </ul>
            </div>

            <!-- <div class="separator"></div>
        
        <div class="general-qualification">
          <span>Mobile</span>
          <ul class="specific-qualifications">
            <li>
              Swift
            </li>
            <li>
              Kotlin
            </li>
            <li>
              Ionic
            </li>
          </ul>
        </div> -->
        </div>




    </div>

    <hr>
    <!-- 
    <div>
        <div class="hideable-content-toggler">
            <label for="expand-icon">Informações adicionais</label>
            <button id="expand-icon" class="{{ showAdditionalInfo ? 'toggled' : '' }}" (click)="toggleAdditionalInfo()">
        <div class="vertical"></div>
        <div class="horizontal"></div>
      </button>
        </div>

        <div class="hideable-content {{ showAdditionalInfo ? 'visible' : '' }}">

            <ul class="additional-info-list">
                <li>
                    <h2>Cursos a distância</h2>
                    <ul class="courses-list">
                        <li *ngFor="let course of courses">
                            <a target="_blank" href="{{ course.url }}" title="{{ course.linkTitle }}">
                                <i class="fas fa-link"></i> {{ course.courseTitle }}
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <h2>Linguagens de programação</h2>
                    <ul class="programming-languages-list">
                        <li *ngFor="let lang of programmingLanguages">{{ lang.name }}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> -->


</section>